@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.header {
  max-width: 1920px;
  margin: 0 auto;
}

.header__inner,
.header__top-inner {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: "Exo 2";
  font-weight: 400;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  height: 927px;
  overflow: hidden;
  background: -o-linear-gradient(342.67deg, #26184F 2.09%, #220B63 96.89%);
  background: linear-gradient(107.33deg, #26184F 2.09%, #220B63 96.89%);
}

.header__inner {
  position: relative;
  z-index: 5;
  margin-top: 194px;
}

.header__top {
  position: relative;
  z-index: 5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__top:hover {
  background: #221645;
}

.header__top-inner {
  height: 90px;
}

.logo {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
}

.logo:hover {
  color: #fff;
}

.nav {
  max-width: 630px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 126px;
  height: 90px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.nav-links:hover {
  background: #2F205E;
  color: #fff;
}

.nav-links img {
  margin-right: 7px;
}

.nav-links:first-of-type img {
  width: 12px;
  height: 12px;
}

.nav-links:nth-of-type(2) img {
  width: 13px;
  height: 13px;
}

.nav-links:nth-of-type(3) img {
  width: 14px;
  height: 14px;
}

.nav-links:nth-of-type(4) img,
.nav-links:last-of-type img {
  width: 15px;
  height: 15px;
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: 'kern' off;
          font-feature-settings: 'kern' off;
  color: #fff;
  pointer-events: none;
  text-decoration: none;
  padding: 0;
}

.header__title {
  max-width: 667px;
  font-weight: 700;
  font-size: 51px;
  line-height: 130%;
  text-transform: uppercase;
}

.header__title span {
  font-weight: 900;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header__subtitle {
  max-width: 654px;
  font-size: 18px;
  line-height: 140%;
  margin: 28px 0 51px 0;
}

.header__btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: -o-linear-gradient(358.14deg, #6663EA 3.79%, #4947BB 104.45%);
  background: linear-gradient(91.86deg, #6663EA 3.79%, #4947BB 104.45%);
  -webkit-box-shadow: 0px 4px 10px rgba(67, 89, 204, 0.5);
          box-shadow: 0px 4px 10px rgba(67, 89, 204, 0.5);
  border-radius: 90px;
  padding: 17px 29px;
}

.header__btn:hover {
  color: #fff;
}

.header__btn:focus {
  -webkit-box-shadow: 0px 4px 10px rgba(67, 89, 204, 0.5);
          box-shadow: 0px 4px 10px rgba(67, 89, 204, 0.5);
}

.header__btn:hover {
  -webkit-box-shadow: 0px 4px 24px rgba(67, 89, 204, 0.5);
          box-shadow: 0px 4px 24px rgba(67, 89, 204, 0.5);
}

.tooltip-inner {
  font-family: 'Exo 2';
  padding: 10px;
}

.header__woman-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  max-width: 1600px;
  width: 100%;
  height: 100%;
}

.header__woman {
  width: 554px;
  height: 778px;
}

.header__cubics {
  position: absolute;
  top: 132px;
  right: 0;
  z-index: 0;
  opacity: 0.1;
}

.header__line_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 8px;
  background: rgba(151, 142, 254, 0.47);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}